<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<nav th:fragment="menu" class="navbar navbar-dark bg-primary">
		  <a class="navbar-brand" href="#">Usuarios</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		    <div class="navbar-nav">
		      <a class="nav-item nav-link active" th:href="@{/users-list}">Listar Usuarios<span class="sr-only">(Página atual)</span></a>
		      <a class="nav-item nav-link" th:href="@{/users}">Cadastrar Usuarios</a>
		      <a class="nav-item nav-link" th:href="@{/}">Sair</a>
		    </div>
		  </div>
	</nav>
	    
</html>